body{
	background-image: url('news_background.jpg');
}
.container{
	margin-top: 3em;
	width:75vw;
	background-color: #FFFFFF;	
	min-height: 65vh;
	padding: 2%;
}
#main-search {
	margin-top: 7em;
	height:65vh;
}
.display-1 {
	text-align: center;
	padding-top: 1em;
}
#main-search-form {
	width:50%;
	margin:auto;
}
#main-search-form input[type=text]{
	width: 80%;
}
.container-fluid {
	margin-top:2%;
	margin-left: 11%;
}
#title {
	margin-top: 15px;
	color: #FFFFFF;
}
#search-form input[type=text] {
	width: 50%;
}